.cover-window {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.flex-center {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.cursor-point {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.vertical-horizontal-center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.m-t-5 {
    margin-top: 5px;
}

.bg-white {
    background-color: white;
}


.up-color {
    color: #F56C6C;
}

.down-color {
    color: #67C23A;
}

.balance-color {
    color: #57585a;
}
